[2021-09-10 07:54] asl opened #1 "Switch to cmake"
Qt6 allows one to do everything in cmake. Switch from qmake to cmake.

[2021-09-10 08:01] asl opened #2 "Get rid of deprecated QRegExp"
Use QRegularExpression instead

[2021-09-22 04:09] asl opened #3 "Make selection of paths better"
Currently path selector is just plain combo box, which is quite ugly when we're having multiple paths. Redesign for better usability.

[2021-09-22 04:13] asl opened #4 "Possible path-related improvements"
* Add support for gapped paths (e.g. from scaffolds)
 * Load SPAdes *.paths file directly

[2021-09-22 04:15] asl opened #5 "Support larger GFAs"
Large genome / metagenome could generate very huge assembly graph. We need to see how to load them properly.

Few ideas straight from the head:
  * Switch to GFA parser from https://github.com/lh3/gfatools Our experience show that it's pretty efficient.
  * Some additional indexing could be done, so we won't need to keep the whole graph in the memory

[2021-09-22 04:16] asl opened #6 "Add GH actions builds and checks"
This, besides the tests, could provide pre-built binaries as well

[2021-09-22 06:07] ekg commented on #5
The main problem is storage of the graph in memory. I would suggest
switching to a library based on succinct data structures. Libhandlegraph
and odgi both have suitable implementations. These libraries provide
parsing that's plenty efficient. They also support path queries.

On Wed, Sep 22, 2021, 06:15 Anton Korobeynikov ***@***.***>
wrote:

[2021-09-22 06:08] ekg commented on #3
Ideally, when there are many paths, it'd be based on a pattern search to
narrow down, then selection among the results.

On Wed, Sep 22, 2021, 06:09 Anton Korobeynikov ***@***.***>
wrote:

[2021-09-22 06:09] ekg commented on #4
Path position queries: find me the node at a given path position. Given a
node, what path positions is it at (or near).

On Wed, Sep 22, 2021, 06:13 Anton Korobeynikov ***@***.***>
wrote:

[2021-09-22 06:10] asl commented on #5
Well, surprisingly enough, the internal storage of gfatools is quite efficient (as it's essentially the parsed GFA) - we do use gfatools for GFA parsing in SPAdes is it works quite well. One step at a time :)

[2021-09-22 08:36] ekg commented on #5
It's not just about putting it in memory, but about providing efficient
random access to its parts. The paths are particularly ruinous in this
regard. You can have fast path iteration if you've just loaded the GFA into
memory (you can iterate over the steps in a path), but it's ultra expensive
to find all the paths at a given node.

A good interface for this is gbwtgraph:
https://github.com/jltsir

[2022-01-11 01:45] #2 closed

[2022-01-11 02:00] FadeevSergey opened #9 "Fix tests/bandagetests.cpp"
1) The signature of the getStartingNodes function has changed. The test is not compiled.
2) linker problems
...

[2022-01-11 04:39] FadeevSergey opened #10 "Application crash"
When searching for an empty path in the graph, the application crashes

[2022-01-11 05:40] FadeevSergey opened #11 "Fix the style"
1) Fix the style
2) Add clang format

[2022-01-11 05:42] FadeevSergey commented on #9
[code]

We go beyond the bounds of the array when trying to open test.csv

<img width="1680" alt="Снимок экрана 2022-01-11 в 08 45 53" src="https://user-images.githubusercontent.com/47828076/148887988-e36f3310-7ac2-4e66-a1d7-83f53f4bdb42.png">

[2022-01-11 05:52] FadeevSergey commented on #9
Most likely the reason is incorrect CMakeLists.txt for tests

[2022-01-11 06:01] FadeevSergey opened #12 "Do not pass objects by value"
In very many places, objects are passed by value, for example QString. It is necessary to pass a constant reference.

ps: For the case of QString, this will not improve the speed, since copy-on-write

[2022-01-11 08:02] FadeevSergey commented on #9
**Tests cause the program to crash**
[code]
**Tests failed:**
[code]

[2022-02-09 08:39] asl commented on #5
@ekg It seems that gbwtgraph is not quite suitable as a generic graph interface. Especially the following treatment of GFAs:
[code]
is certainly pangenome-centric and certainly are not suitable for generic GFAs including e.g. assembly graphs.

[2022-02-09 13:14] ekg commented on #5
I see, you're totally right!

Alternatives are odgi and libhandlegraph. The PackedGraph model is especially efficient.

[2022-02-09 13:15] ekg commented on #5
Sorry, specifically you'll want libbdsg: https://github.com/vgteam/libbdsg. libhandlegraph is an abstract interface in C++, not an implementation.

[2022-02-09 13:16] ekg commented on #5
Adding overlap lengths to the link lines would be the missing part, otherwise I think it should be more directly applicable to generic GFAs that gbwtgraph.

[2022-02-10 17:30] #9 closed

[2022-02-10 17:37] asl commented on #1
Fixed by #14

[2022-02-19 17:57] asl commented on #6
Fixed by #16

[2022-02-19 17:57] #6 closed

[2022-02-20 18:03] wafemand opened #18 "Move graph loading to separate thread"
According to profiling results, a huge part of graph loading is `QApplication::processEvents()`.

https://doc.qt.io/archives/qq/qq27-responsive-guis.html

[2022-02-23 09:08] wafemand opened #19 "Implement `bn:Z` tag"
The old version of gfa builder could parse the `bn:Z` tag of the header (`H` line) which controls Bandage's options.

The new version doesn't support this because of using a third-party parser.

[2022-02-23 09:19] wafemand opened #20 "All paths are not circular when loading from file"
Then paths are loading from the file they always created with the flag `circular = false`.

Is it correct behavior?

[2022-03-30 08:23] asl commented on #5
#17 Replaced old regexp-based GFA parser with one from GFA tools. Significant speedup was achieved on this step

[2022-03-30 08:25] asl opened #22 "Add BED files loading"
This could be used to apply any kind of annotation to the graph.

We need to support the basic columns:
  - chrom
  - chromStart
  - chromEnd

As well as:
  - name
  - strand
  - rgb

The formal specification is at https://samtools.github.io/hts-specs/BEDv1.pdf

[2022-03-30 08:31] ekg commented on #22
We've been testing this in gfaestus and it's proved very very useful.
Strong support!!

On Wed, Mar 30, 2022, 10:25 Anton Korobeynikov ***@***.***>
wrote:

[2022-04-06 17:47] wafemand commented on #22
I managed to parse and visualize bed files with all standard fields

E.g.:
[code]
Annotation of the node with length 45541 nucls looks like this:
![image](https://user-images.githubusercontent.com/28672835/162036129-1aa15c6e-1ff3-4cdc-85c0-997557ca0330.png)

Now I'm working on UI and internal representation.

[2022-04-06 17:59] wafemand opened #23 "Drawing blast hits isn't effective"
If we have a graphical representation of the node containing N line parts and M blast hits for this node, we will draw hits with O(NM) complexity.

Here is the cycle iterating by blast hits:
https://github.com/asl/Bandage/blob/dev/graph/graphicsitemnode.cpp#L169

Here is the code iterating by line parts for drawing one hit:
https://github.com/asl/Bandage/blob/dev/graph/graphicsitemnode.cpp#L610

[2022-04-23 21:00] wafemand opened #28 "Blast query names overlapped"
If several blast hits have the same center in the node then query names overlapped.

There are 5 hits on the screen.
![image](https://user-images.githubusercontent.com/28672835/164945778-2bdc913c-296d-44c1-91f8-d1a88a77c878.png)

[2022-04-27 12:54] asl opened #31 "Add Mac / Windows runners"
So we can ensure build is not broken there

[2022-04-28 07:03] asl commented on #31
Some inspiration could be obtained from: https://github.com/pbek/QOwnNotes/blob/develop/.github/workflows/build-release.yml

[2022-05-02 16:21] asl commented on #4
@ekg Small clarification: for the second "Given a node, what path positions is it at (or near)" – you mean for a node find all paths that traverse that node and what are the position in them? How would you visualize the results?

[2022-05-02 16:33] ekg commented on #4
In gfaestus we have a window that shows this. I guess you could use one of
the two side bars to do this?

Btw, I really want to test, but need to do a system update to get Qt6.

On Mon, May 2, 2022, 18:21 Anton Korobeynikov ***@***.***>
wrote:

[2022-05-02 16:48] asl commented on #4
@ekg We are planning to provide pre-built snapshots. Stay tuned! :)

[2022-05-07 22:52] asl commented on #31
Mac runner added in https://github.com/asl/Bandage/commit/491b8c50432a3b8c67f1cceaf63507b577f550ba

[2022-05-31 17:39] asl commented on #5
https://github.com/asl/Bandage/pull/33 Added stream-oriented GFA parser with almost zero copies in the most cases. As a result of all recent changes the memory consumption and runtime dropped 5x-10x depending on the graph

[2022-06-02 11:36] asl commented on #31
Runners are used to build releases. Windows runner is really needed!

[2022-06-02 11:37] asl commented on #22
Fixed by #32

[2022-06-02 11:37] #22 closed

[2022-06-02 12:15] asl opened #34 "Add support for GFA v1.2"
Add support for gapped paths and jump links from the coming GFA v1.2

[2022-06-02 12:16] asl commented on #34
Preliminary support added in https://github.com/asl/Bandage/tree/gap-links

![image](https://user-images.githubusercontent.com/67392/171627150-929db9a1-08a8-48a8-a9c5-62d97f1a0bf5.png)

[2022-06-02 12:37] asl opened #35 "Document custom Bandage tags"
Bandage supports a set of custom GFA tags to color nodes / edges besides other tags. Document them

[2022-06-02 12:38] asl opened #36 "Display tags"
Show all tags when node / edge is selected

[2022-06-02 12:39] asl opened #37 "Change arrowheads"

[2022-06-02 12:40] asl opened #38 "Add "color by tags" scheme"

[2022-06-02 12:40] asl opened #39 "Add deformation sensitivity settings"

[2022-06-02 13:39] AndreaGuarracino opened #40 "Allow loading GFA files with mixed Segment/Link lines"
Hi,

I have multiple GFA files where the S/L lines are mixed. For example:

[code]

In order to open them with the new power-upped Bandage, I have to put all S lines first, then L lines, and then P lines. Else, I get this kind of error:

![image](https://user-images.githubusercontent.com/62253982/171642369-002d4976-34d9-4416-8a51-d822286a15b2.png)

Is it possible to avoid such a constraint? The ol

[2022-06-02 14:12] AndreaGuarracino opened #41 "Allow export of the graph layout to a tab-separated format"
Hi,

it would be very nice to have as a feature the ability to export the generated graph layout without opening the GUI, that this with the command line interface. A generic and practical enough output format could be tab-separated output with these columns:

- node identifier
- x coordinate (of the midpoint of the node)
- y coordinate (of the midpoint of the node)

Eventually, the coordinates of

[2022-06-02 14:45] asl commented on #40
This will be clarified in the next GFA spec. Essentially here you're referring to the entity (segment) that was not defined yet. We will provide some kind of workaround for these issues. For now you'd just `sort` the file using the record type as a key, so all `S` would come before `L`

[2022-06-02 15:47] alexweisberg opened #42 "feature request: save load graph"
Bandage is fantastic, I'm glad to hear you are continuing its development. I was wondering if it would be possible to implement a save/load feature? This would be useful for making figures for publications. It would be nice to be able to set a layout, add colors, blast hits etc. and then save the state so that it can be loaded again in the future.

Alternatively, a way to set the seed for the grap

[2022-06-02 16:06] asl opened #43 "Relax handling of graphs w/o sequences"
Currently we do require sequences to be present. We need to just require lengths and return 'N' instead

[2022-06-02 16:06] #43 closed

[2022-06-02 16:39] paoloczi opened #44 "Minimap2 support"
It's really great that Bandage gets a new life - thank you for taking that up.

As a possible enhancement, I suggest `minimap2` support. Currently you can map the assembly using `blast` and display those super useful rainbow plots, but `blast` is getting a bit tired these days.

If you add this support, it would be useful to allow both mapping on the fly (like currently for Blast), as well as the

[2022-06-02 16:41] asl commented on #44
Hello

Yes, we thought about this. Fortunately, there is a workaround already! Convert PAF into BED and load BED.

[2022-06-02 16:46] paoloczi commented on #44
Can you do rainbow plots from BED? if so, that is a reasonable temporary solution until you can implement native
`minimap2` support.

[2022-06-02 16:49] rlorigro commented on #44
Just adding my vote:

Considering that you need to do some significant logistics to make this work, I would also love to have a fully integrated mapper that works for long sequences.

When using Bandage as a browser, it's convenient to map contigs or "Regions of Interest" on the fly, and converting GFA to FASTA, switching to the command line, then doing PAF->BED for each query is a bit cumbersome.

[2022-06-02 16:51] asl commented on #44
@paoloczi Ranbow scheme does not make much sense for BED as there is no "query" there, yes.

@rlorigro Is BLAST not sensitive enough, or what are the problems that could be better solved using minimap2 in your case?

[2022-06-02 16:59] paoloczi commented on #44
In my experience, Blast tends to be very slow, and it often breaks up mappings in undesirable ways. `minimap2` offers much better control.

[2022-06-02 17:05] rlorigro commented on #44
Where it fails is particularly in longer mappings/alignments. Sometimes it will just never finish running. The case where long mappings is useful is if you want to map a nanopore read to an assembly, for example, or you want to find a repetitive region of interest using a reference excerpt, which needs to be long to map accurately, or span duplicates of a gene.

[2022-06-02 18:16] #40 closed

[2022-06-02 18:32] rlorigro commented on #5
For an example of a library that uses vg's bidirected sequence graph (bdsg) library, and also maintains overlap data, you could check out https://github.com/vgteam/GetBlunted

bdsg has PackedGraph and HashGraph implementations.

[2022-06-02 18:44] paoloczi opened #45 "Cannot load a file containing segments without sequence"
If I try to load a gfa file containing no sequence, I get the following error message:

![image](https://user-images.githubusercontent.com/25391437/171702210-56a1b95b-879e-4800-bbf3-ffdbb8574509.png)

Here is the beginning of the file I am trying to load:

[code]

According to the [GFA specification](https://gfa-spec.github.io/GFA-spec/GFA1.html), the sequence can be omitted and specified as `*`.

[2022-06-02 18:46] rlorigro opened #46 "Hanging on graph load"
Hi, I downloaded your AppImage release v0.9.5 and tried loading a human assembly graph generated by verkko (the current state of the art for contiguity/completeness) and it created this malformed UI element and has been running like this for about 10min without finishing

![image](https://user-images.githubusercontent.com/28764332/171703275-c3b39663-ef61-435c-a33c-7f8dd216dfab.png)

The static exe

[2022-06-02 18:47] asl commented on #5
I doubt Bandage is ready for huge change of internal representation due to ways how's everything is written and done inside (though patches are surely welcome). That said, the recent changes made quite significant improvements in memory consumption and many large (meta-)genome graphs could be loaded on a laptop.

[2022-06-02 18:48] asl commented on #46
Can you provide the input file? Likely GFA parser complains and this is why it is slow (currently we do not have good way to show these errors yet)

[2022-06-02 18:49] asl commented on #45
Dup of https://github.com/asl/Bandage/issues/43

[2022-06-02 18:49] #45 closed

[2022-06-02 18:50] rlorigro commented on #46
I have an update: the htop output for the app looks like this:
![image](https://user-images.githubusercontent.com/28764332/171704127-22fb9a13-f695-40bc-b5dc-de90e9f2b6ce.png)
And the ui element has fixed itself:
![image](https://user-images.githubusercontent.com/28764332/171704477-b0fb8f21-1f02-46a9-a99b-ed79614e557b.png)

It's been running with full CPU for about 25min

[2022-06-02 18:50] paoloczi commented on #43
Actually even the length is optional, per the GFA specification.

[2022-06-02 18:50] rlorigro commented on #46
I'm not sure if I can share it. I'll ask the creators.

[2022-06-02 18:52] asl commented on #46
You can just email me privately :)

[2022-06-02 19:05] asl commented on #46
n/m I managed to find this file elsewhere ;)

[2022-06-02 19:06] paoloczi opened #47 "Question regarding command line options"
Are any command line options supported? For example, to change defaults, etc. I tried `--help` but got the following. I am on Ubuntu 20.04.

[code]

[2022-06-02 19:06] asl commented on #46
The current workaround is to replace "utig-" with "utig_" until we will implement some tweaks in the GFA parser

[2022-06-02 19:09] asl commented on #47
Smells like a problem with AppImage. Does it run properly w/o any cmdline options?

[2022-06-02 19:23] paoloczi commented on #47
Yes, no problem running without options.

The original Bandage also had problems if any options were specified, even though there were several documented options. I filed an issue on that a long time ago on the original repository, but there was no action on it.

[2022-06-02 19:24] asl commented on #47
well, all unfixed bugs of https://github.com/rrwick/Bandage are inherited :)

[2022-06-02 19:37] #46 closed

[2022-06-02 19:38] asl opened #48 "Allow +/- in oriented segment names"
GFA grammar requires some lookahead. In particular, "+/-" are allowed in segment names. As a result we need to have some lookahead while parsing oriented segments from `P` lines.

After #46 we do allow "+/-" in segment names, however, such segments will not be able to participate in `P` lines due to absence of required lookahead

[2022-06-02 21:36] asl commented on #40
Fix included in https://github.com/asl/Bandage/releases/tag/v0.9.5.1

[2022-06-02 21:36] asl commented on #43
Fix included in https://github.com/asl/Bandage/releases/tag/v0.9.5.1

[2022-06-02 21:36] asl commented on #45
Fix included in https://github.com/asl/Bandage/releases/tag/v0.9.5.1

[2022-06-02 21:36] asl commented on #46
Fix included in https://github.com/asl/Bandage/releases/tag/v0.9.5.1

[2022-06-02 21:36] asl commented on #48
Fix included in https://github.com/asl/Bandage/releases/tag/v0.9.5.1

[2022-06-02 21:56] asl commented on #3
This was implemented in 0.9.5. We do search by name prefix.

[2022-06-02 21:56] #3 closed

[2022-06-03 10:27] asl commented on #42
I feel and know your pain :) This would require some huge refactoring of internals. But otherwise (I hope) is doable, yes

[2022-06-04 08:16] ekg opened #49 "update build instructions"
Loving this! Just a reminder to update the build instructions to reflect the current setup and dependencies.

[2022-06-04 08:40] asl commented on #49
Do you have any issues with building using straight cmake invocation (as shown in README)?

[2022-06-05 16:59] asl opened #50 "Refactor cmdline interface"
Switch to some library (e.g. clipp) to reduce hand-generated code and simplify adding new options

[2022-06-07 09:12] ASLeonard opened #51 "Blast parameters lead to invalid arg name error"
I seem to get errors setting blastn parameters (and I tried many) on the current version (v0.9.5.1) on the mac binary, that claim the arg name is invalid. It seems to strip the leading '-'

[code]

Passing with `--task`, `\-task`, or `"-task "` all lead to either invalid names or positional arg errors.

Trying the same files and blast params works fine on normal Bandage, so seems to be an error in

[2022-06-07 09:28] asl commented on #51
@ASLeonard Will you please provide the full cmdline? Including the way how you're running the binary?

[2022-06-07 09:46] asl commented on #51
N/m I managed to reproduce the issue. Seems to be a fallout from Qt6 migration not covered by tests :(

[2022-06-10 06:31] mjpdejong opened #52 "Nice to have: Calculate and color nodes by GC percentage"
Quickly spot contamination..

[2022-06-11 21:36] asl opened #53 "Add support for optional BED columns"

[2022-06-12 08:34] #51 closed

[2022-06-12 08:35] #37 closed

[2022-06-12 08:36] #36 closed

[2022-06-12 08:37] #53 closed

[2022-06-12 16:29] asl commented on #52
Spoiler!

<img width="1577" alt="Screenshot 2022-06-12 at 18 28 31" src="https://user-images.githubusercontent.com/67392/173243201-f7dd96c4-ce89-431f-8192-f914f002fe20.png">

[2022-06-12 21:22] asl commented on #38
Implemented in #59. Here is an example (using example graph from RGFA spec):
<img width="1577" alt="Screenshot 2022-06-12 at 23 22 31" src="https://user-images.githubusercontent.com/67392/173254135-5efeb29e-dfff-458a-9bc6-cab42a8228ca.png">

[2022-06-12 21:26] asl opened #60 "Refactor color handling / loading from CSVs"
This way we can support multiple columns, etc.

[2022-06-12 21:26] #38 closed

[2022-06-12 21:27] asl commented on #52
Fixed by #59

[2022-06-12 21:27] #52 closed

[2022-06-12 23:45] rlorigro opened #61 "Allow resizing text?"
In shasta assembly graphs, the node size range goes from 1bp all the way to 100Mbp and the font size is often too small when looking at the graph from a zoom level that allows you to see the overall structure:

For example, here the middle bubble is 8.67Mbp:
![image](https://user-images.githubusercontent.com/28764332/173258427-36c63a41-d5cc-435f-ab8d-216f17d1d57b.png)

It would be convenient for m

[2022-06-13 08:07] asl commented on #61
Have you tried to regulate node length? E.g. length per Mbp in the Settings

[2022-06-13 12:42] #60 closed

[2022-06-13 17:50] rlorigro commented on #61
That unfortunately requires you to rerun the layout step, and in a situation where you are navigating to many positions, possibly at different zoom levels, rescaling the text would be very convenient by comparison. Changing the node-length-per-bp also changes the scaling, in the sense that smaller nodes would look larger because of the minimum length cutoff.

[2022-06-17 17:13] rsharris opened #64 "Question about Qt prerequisite"
This is more of a FAQ item than an issue.

The front page README lists "Qt" as a prerequisite. Is this that "Qt", or is there something else called "Qt": https://www.qt.io ?

[2022-06-17 19:35] asl commented on #64
It's indeed "The Qt" :) Bandage-NG relies on Qt 6 for GUI

[2022-06-17 19:38] rsharris commented on #64
Understood, thanks. Qt appears to cost ≈$300 per month, so I wanted to be sure that was the right thing before I started to consider whether I wanted to buy it.

Feel free to close this issue.

[2022-06-17 19:38] asl commented on #64
Qt is free for open source projects. And Bandage-NG is certainly open source under GPLv3 license. See https://www.qt.io/licensing/open-source-lgpl-obligations and https://www.qt.io/download-open-source for more information

[2022-06-17 19:42] rsharris commented on #64
Ahhh.  That's good.

Might be worth adding that as a note to the prerequisites.

Glad I asked the question!

[2022-06-17 19:43] asl commented on #64
Well, pre-built binaries already include Qt. So there is nothing to worry about :) So, one needs Qt only for development.

[2022-06-17 19:51] rsharris commented on #64
Not knowing anything about Qt, it wasn't clear to me whether it was something that would be part of a binary as opposed to something linked to or called from the binary.

So maybe add something like this to the prerequisites: "Qt 6. This is needed only for development, and is free for open source projects. Qt is already contained in the pre-built binaries."

Thanks in any case.  And I enjoyed your

[2022-06-18 12:49] asl commented on #64
Clarified in README here: https://github.com/asl/BandageNG/commit/f0a0b6acb49870493dc783c6699bc1e10a1fb7dc

Thanks!

[2022-06-18 12:49] #64 closed

[2022-06-18 13:23] asl opened #65 "Annotations are not fully cleaned up"
When graph is reloaded we might end with stale annotations

[2022-06-18 13:24] asl opened #66 "Support path annotations"
@ekg Will it be possible for you to draft requirement here? Something more specific than just "use coordinates along the path", if anything?

[2022-06-18 15:20] ekg commented on #66
Sure! The basic idea is that any path range, e.g. BED interval in a FASTA sequence space corresponding to the path space of the graph, can be converted into a walk on the graph. This will then overlap a series of nodes. It would be great to be able to color the sub-path defined by a BED interval a consistent way based on the annotation name (such as a hash of the name) and to add a text lable corr

[2022-06-20 13:46] 1dayac opened #67 "Zoom doesn't work when path is selected"
Subject

[2022-06-24 15:26] #10 closed

[2022-06-24 15:26] asl commented on #10
This was fixed in 0.9.6

[2022-06-24 15:45] #34 closed

[2022-06-26 10:38] asl opened #69 "Add loading of GAF paths"
Spec: https://github.com/lh3/gfatools/blob/master/doc/rGFA.md#the-graph-alignment-format-gaf

[2022-06-26 10:39] asl opened #70 "Allow loading extra links"
In GFA format to augment existing graph from external sources

[2022-06-26 11:58] asl opened #71 "Deprecate LastGraph"
It worked fine, but it seems to be not used anymore and the codebase contains lots of special cases...

[2022-06-30 14:50] #18 closed

[2022-07-02 09:27] asl opened #73 "Export jump links properly"
Currently when writing GFA we're emitting them as 'L' ones

[2022-07-02 09:27] asl opened #74 "Write GFA paths"

[2022-07-02 09:38] asl commented on #42
@alexweisberg Layout could be loaded / saved in https://github.com/asl/BandageNG/releases/tag/v2022.06

Saving the whole state is a bit problematic, as I already written. However, we will try to ensure custom colors / labels are properly loaded / saved into GFA.

[2022-07-02 09:39] asl opened #75 "Ensure that custom colors / labels are properly saved to and reloaded from GFA"

[2022-07-03 23:27] asl opened #76 "Preserve custom tags"
When writing GFA

[2022-07-04 09:21] asl opened #77 "Generalize / refactor BLAST hits to allow other tools"
Examples would include:
  * minimap2
  * hmmer
  * some gene calling (prodigal, maybe something else)

[2022-07-04 09:23] asl opened #78 "Revamp the documentation"
Update the docs from original Bandage wiki. Adding descriptions of new things, etc.

[2022-07-04 11:41] asl opened #79 "Stack overflow in graph walking"
Enumerating nodes to draw that are located within certain "distance" is done via simple recursive graph walk. Which overflows the stack. Refactor this into an iterative algorithm.

[2022-07-05 22:09] abueg commented on #78
Hello! 👋🏼 I've started on updating some of the original Bandage wiki documentation in my fork of Bandage-NG here: https://github.com/abueg/BandageNG/wiki

I can't make a PR for the wiki content (only repo codebase), but I can keep working on the wiki in my fork, and let you know when there is more progress, and I can perhaps copy it over to the wiki in your fork? Or I can add the documentation to

[2022-07-05 22:11] asl commented on #78
@abueg Thanks a lot! Apparently you can make PR for wiki: https://docs.github.com/en/communities/documenting-your-project-with-wikis/adding-or-editing-wiki-pages#adding-or-editing-wiki-pages-locally

[2022-07-06 14:50] ochkalova opened #80 "Multiple selection from CSV input?"
In addition to coloring based on CSV, you could add an option to select all nodes with the same "tag" in CSV input. That will allow manipulating them, e.g. hide from visualization or download sequences to a file.
Thank you.

[2022-07-10 20:29] #73 closed

[2022-07-10 20:29] #74 closed

[2022-07-10 20:29] #75 closed

[2022-07-10 20:29] #76 closed

[2022-07-11 09:33] asl commented on #42
Custom colors, labels and other tags are now supported for load. So, at least some parts could be "emulated".

[2022-07-11 09:35] asl opened #85 "Provide better UI for paths"
* Model around GAF format: list all paths, some paths queries (like in #4)
  * Maybe join with BLAST hits and their paths

@ekg I started to draft better UI for paths. Unfortunately, I cannot check how the things are implemented in gfaestus – while after few hours I was able to compile it, I'm unable to run it.

[2022-07-11 10:21] ekg commented on #85
Sorry that it's hard to run. FWIW, We are rewriting based on waragraph to
simplify the GPU related dependencies. But if you have a chance please
share your errors with Christian (author).

The key things are being able to go from a node to path positions and from
path positions to nodes. That's most of what gfaestus and waragraph (1D,
newer) aspire to both implement.

So the desired functionality

[2022-07-11 10:29] asl commented on #85
Thanks!

Sure! But basically relying on Vulkan (for a non-game app) seems to be a culprit here. In the end I received "invalid driver" or something like this w/o clear understanding how to debug / fix.

[2022-07-11 10:41] #69 closed

[2022-07-11 12:30] ekg commented on #85
Yup, it's awkward as a dependency, but Vulkan is what allows gfaestus to provide zoomable views of whole chromosome pangenome graphs with base-level variation. The rewrite in the works rebuilds things on a more portable subset of Vulkan.

Anyway, for this conversation the key thing is the functionality, which is just as well described in the abstract. Does it make sense what I'm suggesting?

[2022-07-12 15:19] asl commented on #85
@ekg Yes, all this make perfect sense! Thanks!

[2022-07-14 11:47] asl opened #89 "[RFC] Load graphs and paths in 'vg' format"
@ekg Do you think it will be useful?

[2022-07-14 12:05] ekg commented on #89
I don't think so. It's equivalent to GFA. So is the odgi format and other
custom indexes.

One thing that might help in reducing memory would be to load the GBZ
format. Then you get compressed paths in low memory. That's also equivalent
to GFA but then you're winning with the succinct data model.

On Thu, Jul 14, 2022, 13:47 Anton Korobeynikov ***@***.***>
wrote:

[2022-07-14 12:13] asl commented on #89
Well, it is equivalent, yes. However if things are already in 'vg' format then one would essentially skip the conversion from vg to GFA. Certainly it does not sense to support all plethora of possible custom formats here and there, however, I'm thinking that supporting few most widely used might improve the user experience.

We do support gzip-compressed GFAs now and after some recent improvements

[2022-07-15 19:47] yuliamostovoy opened #90 "Can't load pggb output?"
I'm trying to load the HPRC PGGB-generated GFAs from here: https://s3-us-west-2.amazonaws.com/human-pangenomics/index.html?prefix=pangenomes/freeze/freeze1/pggb/chroms/

I get this error message:
[code]

Original Bandage is able to load the same files with no issues. I'd appreciate any help, thanks!

[2022-07-15 20:52] asl commented on #90
The graph uses "DP" tag of unexpected type. It is expected that the tag should use a floating point, not integer:

[code]

We will introduce workaround in the next Bandage-NG version. For now the workaround is to replace `DP:i:` in the file with `DP:f:`.

[2022-07-15 20:59] yuliamostovoy commented on #90
Thank you!

[2022-07-15 21:01] paoloczi commented on #90
Actually, the [samtools specification](https://samtools.github.io/hts-specs/VCFv4.1.pdf) states in section 1.4.2 that the `DP` tag should be an integer. So the HPRC PGGB output is correct, and Bandage should expect an integer by default - although you could allow it to also accept a floating point number.

[2022-07-15 21:13] asl commented on #90
@paoloczi The interpretation is completely different and I doubt samtools spec is irrelevant here. `DP` in case of graphs is an average depth of the node (e.g. average number of kmers / reads / fragments covered each position of the node), therefore it is expected to be a floating point value, there is no "position" here. And this is what do assemblers produce.

[2022-07-15 21:18] paoloczi commented on #90
That is what I was thinking too before I saw that quote, and in fact I was looking for corroboration of the Bandage assumption that it is supposed to be a float. But I was not able to find any document or specification describing a floating point `DP` tag in any context - do you know of one?

[2022-07-15 21:18] rlorigro opened #91 "Crashes immediately during layout"
Hi,

I am attempting to load and draw this graph:
https://s3.us-west-2.amazonaws.com/czi.paolo-public/HG002-Guppy-6.0.6-UL-run14/Assembly-Phased.gfa

And it crashes on my machine as soon as I click Draw. No error message, the window just closes.

I have 32GB of RAM and I use Ubuntu 20.04, running the release from here:
https://github.com/asl/BandageNG/releases/download/v2022.06/BandageNG-2022.06-x

[2022-07-15 21:19] asl commented on #90
No. This is exactly what https://github.com/asl/BandageNG/issues/35 supposed to be

[2022-07-15 21:21] asl commented on #91
@rlorigro Is there anything about OOM in the system log?

[2022-07-15 21:36] rlorigro commented on #91
It doesn't look like there is anything specifically to do with memory, but this is in the log:
[code]

there are many more of the GFA segment parsing errors, probably one for every one of the "PR" segments in the file.

[2022-07-15 21:46] rlorigro commented on #91
On second glance, these are all the 0 length nodes, I believe. This was clipped in my previous message: `LN:i:0`

[2022-07-15 21:46] asl commented on #91
We do not have a good way to report GFA parsing errors as of now. So we just print them to stderr and ignore malformed records. Thought, it's should be unrelated to the crash.

It looks like OGDF wants to use some AVX stuff which your system lacks, right?

[2022-07-15 21:49] rlorigro commented on #91
Hmm I'm not sure. I've successfully compiled and run OGDF on this machine for a project of my own, but it could be something related to how you've built the executable.

[2022-07-15 21:50] asl commented on #91
OGDF compiles with `-march=native` by default. So essentially translates the features of the build platform...

[2022-07-15 21:50] asl commented on #91
As for your file, it is indeed malformed. We are having:

[code]

You're lacking a sequence field.

[2022-07-15 21:52] rlorigro commented on #91
I think there are technically enough tab delimiters in this file, but the field is empty because the sequence length is 0

[2022-07-15 21:54] asl commented on #91
Please refer to the GFA spec: https://github.com/GFA-spec/GFA-spec/blob/master/GFA1.md. The sequence field cannot be empty (regexp for this field is `\*|[A-Za-z=.]+`). You need to place `*` placeholder if the sequence is missed (or empty).

[2022-07-15 21:56] rlorigro commented on #91
Ok. @paoloczi is the author of the Shasta assembler, which generates these files:
https://github.com/chanzuckerberg/shasta

[2022-07-15 21:59] asl commented on #91
As for the layout – I was able to generate layout, so I believe the problem is due to OGDF using AVX (I know problem for sure because one cannot run OGDF compiled for x86-64 on Mac M1 via Rosetta 2, we are building fat binaries for release).

So, the only workaround for now is to compile from sources... I will take care about binaries for the next BandageNG release.

[2022-07-15 22:01] rlorigro commented on #91
Here's my CPU info:
[code]

[2022-07-15 22:04] paoloczi commented on #91
According to the GFA specification, the `*` should be used to indicate that the sequence is unspecified, not that it is empty. In these cases, the sequence is actually specified, and consisting 0 bases. The GFA specification does not forbid specifying a sequence with zero length.

In a phased assembly there are good reasons to do this, to describe the two haplotypes at a heterozygous insertion or

[2022-07-15 22:05] asl commented on #91
It does. The regexp is `\*|[A-Za-z=.]+`. So it should be either `*` or one or more characters. So in this case it should be `*` with `LN` tag of zero length.

[2022-07-15 22:08] asl commented on #91
@rlorigro Then I'm confused... looks like everything should be supported. However, we're seeing in the log:
[code]
Are you able to recompile from the sources?

[2022-07-15 22:10] paoloczi commented on #91
True, the regexp says there should be something, even though the description in word says nothing about that. So it sounds like for the case of empty sequence I should continue to write the length as 0, but write the sequence as `*` instead of leaving it empty? If there is agreement on this I can make this change on Monday, and provide @rlorigro a test build with the fix.

[2022-07-15 22:12] paoloczi commented on #91
@rlorigro regarding the invalid opcode, there should be a message somewhere containing the opcode that caused the trap. From the opcode we can then find the missing instruction.

[2022-07-15 22:13] asl commented on #91
Yes. In case of Bandage `*` is internally represented as a (compressed) sequence of 'N' of `LN` length. So, it will be exactly zero-length string here :)

[2022-07-15 22:14] rlorigro commented on #91
This is the entire message:
[code]

Compiling from source would require installing qt6 on ubuntu20.04, which, from my memory was not simple

[2022-07-15 22:16] asl commented on #91
Ok. Let me check if can disable using `-march=native` for OGDF and do some snapshot for you.

[2022-07-15 22:25] paoloczi commented on #91
From that message and a hex or disassembled dump of the executable it should be possible to find the offending instruction. It looks like your machine lacks the avx512 extensions - it could be that.

@asl for the executables included in releases, it would be best not to assume the latest extensions. That is, either no `-march=native`, or just assume some of the older extensions that are likely to

[2022-07-15 22:28] #90 closed

[2022-07-15 22:29] asl commented on #91
@paoloczi Yes, I just want to get rid of `-march=native`. Apparently this is OGDF default :)

[2022-07-15 22:35] asl commented on #35
Will be here: https://github.com/asl/BandageNG/wiki/Custom-GFA-tags

[2022-07-15 22:35] asl commented on #91
@rlorigro It's building now. So hopefully will be in 30-40 minutes or so.

[2022-07-15 22:57] asl commented on #91
@rlorigro Can you please check: https://github.com/asl/BandageNG/releases/download/v2022.07.16/BandageNG-f3ca6e0-x86_64.AppImage ?

[2022-07-15 22:59] rlorigro commented on #91
It gives me a 404 error

[2022-07-15 22:59] asl commented on #91
Sorry, updated link just now

[2022-07-15 23:05] rlorigro commented on #91
Yes its working now :+1:

One unrelated thing though, it seems to arrange the connected components in a line, instead of packing them in a rectangle like the original Bandage, which was my preference.

[2022-07-15 23:06] asl commented on #91
It does pack them. However, slightly differently – optimizing the overall space.

[2022-07-15 23:07] asl commented on #91
Great, thanks! So this might be closed then :)

[2022-07-15 23:07] #91 closed

[2022-07-15 23:16] asl commented on #90
@yuliamostovoy The fix is included in the following snapshot: https://github.com/asl/BandageNG/releases/tag/v2022.07.16

[2022-07-15 23:16] rlorigro commented on #91
Hmm ok. Well this has for some reason put every component in one row, which doesn't seem very space efficient
![image](https://user-images.githubusercontent.com/28764332/179323057-eaecb73d-7bad-4a36-8b13-a149162a625f.png)

Compare this to the original packing method:
![image](https://user-images.githubusercontent.com/28764332/179323283-7a4c86fe-a73f-479f-9483-cb48e6ac452e.png)

[2022-07-15 23:18] asl commented on #91
Interesting. Something is broken in newer OGDF then :)

What is the node length per Mbp settings in your case?

[2022-07-15 23:19] rlorigro commented on #91
Original Bandage: Auto: 551.5

[2022-07-15 23:22] rlorigro commented on #91
And BandageNG has the same outcome: 551.5. Both are default/auto

[2022-07-15 23:23] asl commented on #91
Ok, great. I will try to see why OGDF does such weird layout

[2022-07-15 23:23] asl opened #93 "Strange layout of components"
Hmm ok. Well this has for some reason put every component in one row, which doesn't seem very space efficient
![image](https://user-images.githubusercontent.com/28764332/179323057-eaecb73d-7bad-4a36-8b13-a149162a625f.png)

Compare this to the original packing method:
![image](https://user-images.githubusercontent.com/28764332/179323283-7a4c86fe-a73f-479f-9483-cb48e6ac452e.png)

_Originally posted

[2022-07-15 23:28] rlorigro commented on #91
Ok thanks for your help. BandageNG is definitely faster during the layout, though.

[2022-07-17 11:30] asl opened #94 "Refactor edge storage"
Currently every node stores both incoming and outgoing edges. This doubles the memory required for edge storage, but more importantly, makes inefficient node-edge queries (e.g. we need to filter stuff in order to get outgoing edges or checking if there is an edge between two nodes).

Refactor everything to store only outgoing edges. Incoming ones could be obtained from reverse-complement node.

[2022-07-17 13:19] #79 closed

[2022-07-17 22:01] asl commented on #93
Ok, apparently the shiny new TileToRowCCPacker from OGDF was doing some strange things in some cases. So, I went ahead and ported old "embedded" packer which seems to work better and has some useful features.

I'm having the following packing of components which look reasonable to me given the aspect ratio

<img width="1208" alt="Screenshot 2022-07-17 at 23 58 39" src="https://user-images.githubus

[2022-07-17 22:19] rlorigro commented on #93
That looks reasonable to me as well. The old version used to sort them by size, which was nice in some ways, but I don't have a strong preference.

[2022-07-17 22:25] asl commented on #93
This *is* the old version :) Note that the layout depends on aspect ratio. Essentially it tries to organize components in row-column fashion trying to preserve the aspect ratio. The algorithm is greedy: it tries to place the new component in any empty spot in every "row". And if there is no space – new row is added. As a result, if we're having one large (and wide) component, then everything got o

[2022-07-17 22:28] rlorigro commented on #93
Oh ok interesting. I didn't expect aspect ratio to make all the difference. I assumed the threading is what reordered things. Thanks

[2022-07-17 22:35] asl commented on #93
Oh, no. The components are always processed being sorted by height (and first optionally rotated to be more "horizontal"). So, yes, sometimes small components could fit into spare spot

[2022-07-17 23:17] #93 closed

[2022-07-18 20:57] asl opened #98 "Refactor error handling"
Currently error handling is mix-and-match of different things: exceptions are thrown, error strings are returned, etc. Make uniform error handling.

[2022-07-20 11:31] richardstoeckl commented on #47
There seems to be more to this than just inherited bugs.
I can start both the "original" Bandage as well as BandageNG from the CLI, and I can also display the version numbers of both of them:
[code]
But other options dont seem to work with BandageNG:

[code]

or as another example:

[code]

EDIT:
This behaviour is also present in the new release
[code]

[2022-07-20 12:39] asl commented on #47
@richardstoeckl What is the version of MacOS you're using?

[2022-07-20 13:00] richardstoeckl commented on #47
I am using macOS Monterey Version 12.4 on a Intel based Macbook

[2022-07-20 13:30] asl commented on #47
Thanks! I'll try to check. Note that we're testing cmdline on Mac on every commit on GitHub, so cmdline interface certainly works... There must be something else :)

[2022-07-20 14:02] paoloczi commented on #47
As I mentioned when originally opening this issue, I have the same problem on Ubuntu.

[2022-07-20 20:33] asl commented on #47
@richardstoeckl Thanks, I was able to reproduce the problem. It seems to be connected how we're building the final DMG image...

[2022-07-20 20:33] asl opened #99 "Failed to run CLI from MacOS app bundle"
There seems to be more to this than just inherited bugs.
I can start both the "original" Bandage as well as BandageNG from the CLI, and I can also display the version numbers of both of them:
[code]
But other options dont seem to work with BandageNG:

[code]

or as another example:

[code]

EDIT:
This behaviour is also present in the new release
[code]

_Originally posted by @richardstoeckl in htt

[2022-07-20 20:38] asl commented on #99
@richardstoeckl current workaround is to add `-platform cocoa` to cmdline

[2022-07-20 21:06] asl commented on #47
@paoloczi Does passing "-platform xcb" fix the problem for you?

[2022-07-20 21:28] paoloczi commented on #47
I recently upgraded my laptop to Ubuntu 22.04, and I just tried again, using your latest release. If I run it without options I get this message, but then it starts, apparently without problems:

[code]
However, I can load a graph without problem, but when I try to display it I get an `Illegal instruction` trap. This is similar to what @rlorigro reported the other day, so it may be the same issue:

[2022-07-20 21:29] asl commented on #47
@paoloczi Consider using AppImage from https://github.com/asl/BandageNG/releases/tag/v2022.07.16
As for "minimal" platform – this is exactly inherited stuff ;) Looking into it

[2022-07-20 21:38] paoloczi commented on #47
Here is what I get with the build you suggested.

Without options, it runs fine, I get the same message about `WAYLAND_DISPLAY`, and it can display a graph without problem.

With `-platform xcb` I get the following:

[code]

With `--help` I get this:

[code]

So this is weird because it says that xcb is the only available plugin, but if you request it it tells you that it is invalid.

[2022-07-20 21:41] asl commented on #47
this is appimage problem apparently (separate one).
Does `export QT_QPA_PLATFORM=xcb` work ?

[2022-07-20 21:44] paoloczi commented on #47
This is what I get if I set that and I invoke it with `--help`:

[code]

[2022-07-20 22:02] asl commented on #47
aha, ok. AppImage isolates env variables.

So, we're having complete mess here:
1. If we're running headless (e.g. on server w/o X or Wayland) then we need to ensure we are using headless Qt platform integration plugin (`minimal` / `offscreen`).
2. However some features related to text / image rendering are only available with full GUI platform. We cannot run them headless at all.
3. Deployment to

[2022-07-21 02:02] paoloczi commented on #47
Just to clarify - I was running that locally from my Ubuntu 22.04 laptop, with a Gnome environment running on top of Wayland.

[2022-07-21 09:48] #99 closed

[2022-07-21 11:52] asl commented on #47
Ok, here is full explanation: Qt has a dedicated platform abstraction layer in order to implement GUI primitives. For example, one could even instead of drawing everything on screen, run a kind of lightweight VNC server and connect from outside creating "remote monitor". The latter is a typical thing for e.g. embedded applications.

For CLI applications running on headless servers there are specia

[2022-07-21 13:18] asl commented on #47
I submitted a fix for the bundling issue into upstream project (https://github.com/linuxdeploy/linuxdeploy-plugin-qt/pull/118). Hopefully it will be merged before our release so we can close this issue ;)

[2022-07-21 13:45] richardstoeckl commented on #99
Sorry, but I dont quite understand this workaround:

Without changing anything, CLI options like `--help` dont seem to work with BandageNG:
[code]

When I add `-platform cocoa`, I can get the help message to show:
[code]

but other commands such as `image` do not seem to work:
[code]

Am I doing something wrong?

[2022-07-21 13:50] asl commented on #99
No, you did not. Sadly, CLI argument handling is a bit flawed and non-flexible (#50 is a task to fix this). The merged pull request (#100) fixed the underlying issue. So it will be available soon as a part of next release / snapshot. https://github.com/asl/BandageNG/issues/47#issuecomment-1191390759 contains an explanation of what is going on.

I will likely make a pre-release as soon as linux iss

[2022-07-21 13:59] richardstoeckl commented on #99
Ah sorry, I somehow missed the line about my issue in the comment there. Thank you so much for your time and effort, and for your kind explanations!

[2022-07-22 11:22] asl opened #101 "Loading queries for BLAST is quadratic in sequence count"
Apparently when adding new query the whole temp file with all queries is deleted and being written from scratch :(

[2022-07-22 16:37] #101 closed

[2022-07-24 09:50] asl commented on #85
@ekg What do to exactly mean as `step` in _given a selected node show what paths and step positions are on it._?

[2022-07-24 15:10] asl commented on #85
Ok, I think you just mean the node positions. This is WIP currently:
<img width="1461" alt="Screenshot 2022-07-24 at 17 07 38" src="https://user-images.githubusercontent.com/67392/180653500-73a26dee-87e3-4da9-8bb8-5483880ea3a2.png">

[2022-07-24 16:45] asl commented on #85
Path position search is also done:
<img width="1577" alt="Screenshot 2022-07-24 at 18 45 11" src="https://user-images.githubusercontent.com/67392/180657556-37040f5a-8908-4f81-87fe-39341f532361.png">

[2022-07-25 07:45] asl opened #105 "Centralize style handling"
Currently assembly graphs holds bunch of data structures with custom colors, styles, etc.

It should be generalized and centralized.

[2022-07-25 07:51] asl commented on #20
Yes!

[2022-07-25 07:51] #20 closed

[2022-07-25 10:39] asl commented on #35
This is done: https://github.com/asl/BandageNG/wiki/Custom-GFA-tags

[2022-07-25 10:39] #35 closed

[2022-08-01 07:56] asl commented on #85
I'm going to keep this open in case more requests / ideas will appear

[2022-08-01 17:53] asl commented on #47
@paoloczi Unfortunately it is still not merged, so we will need to proceed to the next Bandage-NG release without the fix :(

[2022-08-09 16:19] asl commented on #44
Here is the teaser. While UI shows `BLAST` it's only the UI. The reality is minimap2 under the hood aligning C4 sequences to C4A/C4B graph from https://zenodo.org/record/6617246

<img width="1723" alt="Screenshot 2022-08-09 at 17 52 11" src="https://user-images.githubusercontent.com/67392/183700786-de811c33-4f6e-4b5e-9c85-c68936330306.png">

The second one is a bit more extreme as we're aligning t

[2022-08-09 17:05] microfuge opened #110 "Complilation error"
Hi,

Thanks for this awesome package!
The static app images provided do not work on our systems due to an old glibc. I tried compiling with gcc version 10 and Qt6, following the instructions. But I constantly get
[code]
I would be super grateful for your help with this error.
Thanks!

[2022-08-09 17:29] asl commented on #110
Hello

This looks like a gcc problem. The releases are built with GCC 9.4.0 (on GitHub Actions) and GCC 11 also works. So, likely the only solution is to try different GCC version.

[2022-08-09 22:01] rlorigro commented on #44
out of curiosity, did you use minimap as an API or by calling it as an executable and using IO?

[2022-08-09 22:02] asl commented on #44
Binary is executed and final PAF is parsed. Essentially, the existing BLAST support was heavily refactored and generalized to allow different ways to obtain "query hits". Regardless of the way how they are obtained :)

[2022-08-09 22:07] asl commented on #44
One need to know though that hit-combining and path-building approaches in Bandage are essentially brute-force :(

[2022-08-09 22:10] rlorigro commented on #44
For minimap isnt that more trivial because you have a "primary" alignment and you can just follow all the supplementaries in order of their query coordinates?

[2022-08-09 22:14] asl commented on #44
Well, not quite :) Overall the problem is similar to that we're having in graph aligning: we have a set of "seed alignments" to the nodes of the graph and we need to chain them properly. Note that some seeds could be missed, some could be misplaced (think about alignment through repetitive region of the graph where multiple hits of the same query region is possible, etc.).

So, should the proper p

[2022-08-09 22:29] rlorigro commented on #44
Hmm ok, well I agree that chaining should not really be in the scope of bandage

[2022-08-10 05:33] ekg commented on #44
It won't matter for assembly graphs, but aligning to the paths will be much
more sensitive in the case of variation graphs. The alignments can be made
against the path sequences of the graph and then injected into the node
space.

On Wed, Aug 10, 2022, 00:29 Ryan Lorig-Roach ***@***.***>
wrote:

[2022-08-10 08:47] asl commented on #44
@ekg Actually it does matter if we need to span a complex repeat :) E.g. in PathRacer we have an option of seeding from paths not nodes and it makes huge difference in complex repetitive regions.

I also thought about adding alignment to the paths. But likely I'd rewrite chaining to something a bit more efficient (currently there is a limit of 6 nodes in the "query path" to limit the combinatorial

[2022-08-10 12:36] microfuge commented on #110
Dear Anton,

Thanks so much. gcc/v9.4.0 worked perfectly and resulted in a clean compile!

Thanks Again and the issue is fixed from my side.

[2022-08-10 12:36] #110 closed

[2022-08-10 12:37] asl commented on #110
Great it worked!

[2022-08-10 18:11] #44 closed

[2022-08-24 17:26] asl commented on #44
@ekg FWIW https://github.com/asl/BandageNG/pull/114 implements alignment to the paths, query paths are automatically built out of the,

[2022-08-25 04:45] tnn111 opened #115 "Connected components?"
Hi,

Is there a way of getting BandageNG to output connected components as separate assembly graphs? I work with metagenomes and it would be extremely useful to be able to do this and then work on the individual graphs.

Thanks, Torben

[2022-08-25 07:12] asl commented on #115
Are you sure you're having separate components? This is very unusual. Usually metagenomes are just one huge component connected via conservative elements such as ribosomal genes and other that underwent HGT.

Can you post the graph info information here?

[2022-08-25 17:01] tnn111 commented on #115
Hi Anton,

I’m working with large environmental metagenomes and while they do contain some hairballs, it’s mostly a collection of components. The graph alone is around 500 MB. I’m attaching a screen shot from BandageNG. What I’d like to be able to do is to extract each of the connected components so that I can work on them individually.

Thanks, Torben

[2022-08-25 17:02] asl commented on #115
Sorry, no screenshot. Likely you'd need to do this via GitHub website, not email

[2022-08-25 17:19] tnn111 commented on #115
Trying again :-)

![PastedGraphic-1](https://user-images.githubusercontent.com/5863366/186729287-cefe2f67-e102-4092-b5b4-e10489a896c1.png)

[2022-08-25 17:20] tnn111 commented on #115
Just did. Thanks!

[2022-08-25 20:03] asl commented on #115
Oh, ok. Looks like a very fragmented one with low complexity. For now I'd just select a node from component and draw on, say, distance 500 around the node.

[2022-08-26 13:52] asl commented on #47
@paoloczi Finally this was merged: https://github.com/linuxdeploy/linuxdeploy-plugin-qt/pull/118, so likely the issue will be fully resolved with Bandage 2022.08

[2022-09-01 04:48] asl commented on #47
@paoloczi Will you please check if https://github.com/asl/BandageNG/releases/tag/v2022.08 works for you now?

[2022-09-01 14:25] paoloczi commented on #47
This works partially. I can now run it with `--help` or `--helpall` to get help information and a list of options, and it no longer crashes.

However, it looks like it is not honoring the options that I specify. For example, I tried invoking it with `--minnodlen 88`. But when I checked the `Settings` menu, the `Minimum node length` value was still the default 5.

[2022-09-02 23:33] rlorigro opened #116 "Node has negative length"
When loading this graph:
https://rlorigro-public-files.s3.us-west-1.amazonaws.com/gfase/verkko/full_coverage/bandage_error.gfa

I get this result in the latest release of BandageNG:
![image](https://user-images.githubusercontent.com/28764332/188246194-465bfaf2-2341-456b-afb8-8324c00b8b8b.png)

It looks like this in original Bandage:
![image](https://user-images.githubusercontent.com/28764332/18824

[2022-09-04 21:12] asl commented on #116
Nice catch! Bandage legacy code uses signed integers everywhere... And this causes sometimes fun stuff like this. Will fix.

[2022-09-06 07:21] asl commented on #115
@tnn111 Will it work if we'd add another possible scope, namely "component containing node(s)"?

[2022-09-06 07:23] asl commented on #77
I think this is done enough to be closed.

[2022-09-06 07:23] #77 closed

[2022-09-06 07:24] asl commented on #47
@paoloczi Oh, the cmdline interface requires lots of care.... it's broken in many places and not quite complete. But this is a separate issue – #50

[2022-09-06 07:31] #116 closed

[2022-09-06 20:39] Overcraft90 opened #118 "Qt and CMake related issues"
Hi there,

I've been using the original `Bandage` without any major issue. However, I've been recommended to try this new version as it can handle the GFAv1.2 format.

For some reason, after following the **Building from source** the command `cmake ..` returns this error message:

This prevents me from using the tool..., the strange things is that I have `Qt v6.3.1` but the error mention something

[2022-09-06 20:41] asl commented on #118
Hello

How have you installed Qt6?

[2022-09-06 20:44] paoloczi commented on #118
Or you could just download a pre-built release instead of attempting to build it yourself. The AppImage format is highly portable.

[2022-09-06 20:46] Overcraft90 commented on #118
Yes I did, I have both Qt Creator and Qt Maintenance Tool; is there any way I can check what version of `Qt` my system is using.

After running `qtdiag` it seems like `Qt v5.15.3` is running but I specifically downloaded and installed `Qt v6.3.1`, see below:
![Screenshot from 2022-09-06 13-44-45](https://user-images.githubusercontent.com/98895614/188734685-79150bde-cf56-4727-9c9b-0ec059905dc3.png)

[2022-09-06 20:51] asl commented on #118
But *how exactly* have you installed it? Simply having Qt Creator in some random place will not help. You need to ensure that your Qt installation is "visible" to other tools such as cmake, etc.. The best way to achieve this is to install via your system package manager, usually they do everything correct.

If nothing works, I would suggest you to simply use pre-built binaries that we're providing

[2022-09-06 20:55] Overcraft90 commented on #118
Indeed, as @paoloczi suggested, I downloaded and tried out the AppImage. It works perfectly, I was confused by the format and looked for a .deb file of some sort to run in Ubuntu. Thanks again, I will try to install `Qt6` through the system package manager so that is visible for apps invoking it.

[2022-09-06 20:56] asl commented on #118
Please reopen if this would still be an issue

[2022-09-06 20:56] #118 closed

[2022-09-06 22:09] Overcraft90 commented on #118
Hi again,

I faced an error while running the `make` command. At about 86% it returns the following:

It looks like is something related to the handling/definition of some numeric variables, but I'm not able to figure out how/what to do in order to fix it..., let me know. Thanks!

[2022-09-06 22:12] asl commented on #118
@Overcraft90 Likely some header is missed. We will fix in the next release.

[2022-09-06 22:13] Overcraft90 commented on #118
Sure, thanks a lot!

[2022-09-07 04:13] tnn111 commented on #115
Hi Anton,

Yes, that would work. The reason for it is to be able to focus on what’s commonly a much smaller subgraph.

I needed the functionality so I wrote a trivial piece of code to parse a GFA file and extract based on the subgraph containing a given segment or a given path. It works well enough and I’m experimenting with adding additional functionality	as I go.

Thanks, Torben

[2022-09-07 08:30] asl commented on #115
Well, SPAdes has `gfa-split` tool in the package, that splits GFA into connected components preserving PATHS, etc. :)

Also, you can certainly reuse GFA parser from BandageNG, it's pretty self-contained (and was made such for the purpose of easy reuse).

[2022-09-13 17:56] rlorigro commented on #115
If you're willing to build this repository it also has the same functionality in the `build/split_connected_components` executable:
https://github.com/rlorigro/GFAse/blob/main/src/executable/split_connected_components.cpp

This repository also has a subgraph extraction executable, but it will not preserve a path in the output:
https://github.com/vgteam/GetBlunted/blob/master/src/executable/extract

[2022-10-04 20:25] rlorigro commented on #116
Hi, just checking in, are there plans for an October release that includes this fix? It seems to be a very persistent error in Verkko graphs

[2022-10-04 20:28] asl commented on #116
@rlorigro Oh, sorry, yes! Was pretty busy recently... This reminds me that we'd likely simply need rolling releases :)

[2022-10-04 21:57] rlorigro commented on #116
Ok, no problem, looking forward to switching over :+1:

[2022-10-12 15:06] RolandFaure opened #119 "A specific GFA won't open"
Hi,
Thank you for developing this tool, it is great!
I stumbled on a problem today when trying to open a specific GFA. Bandage-NG took forever to load and then all the contigs were of size 0. The problem disappeared if I put  " * " instead of the actual sequences. I opened it with the old Bandage without problems.

The file is attached to this issue
[small_graph.gfa.gz](https://github.com/asl/Band

[2022-10-15 21:53] asl commented on #119
So far we do not have a good way to show GFA format parsing errors. In your particular case you're having a malformed GFA file. Let me show what is going on:
[code]
Note that you're having an extra tab after the last tag and therefore you're having and empty tag, without name, type, etc.

[2022-10-15 22:00] asl commented on #119
How have you obtained this GFA? Have you generated it manually? Or it's an output from some tool?

[2022-10-16 12:43] kingforest93 opened #120 "confusing"
Dear Dr. Korobeynikov,

Thank you for the development of BandageNG. I am viewing the follwing Hi-C scaffolding results in GFA "Link" and GFA v1.2 "Jump" format in BandageNG. The view of GFA "Link" format is easy to understand, and a linked group of contigs corresponds to a chromosome. But the view of GFA v1.2 "Jump" is confusing, and the linked contigs seem to be randomly placed in the workplace.

[2022-10-16 12:54] asl commented on #120
Jump links are not included into layout as they could "glue" all the nodes together (they often represent distant links and therefore cannot "guide" the genome).

We might make this behaviour as optional though in the future versions of BandageNG

[2022-10-16 12:54] #120 closed

[2022-10-16 13:11] kingforest93 commented on #120
Thank you for your quick response!
I will wait for the future version of BandageNG that can handle Jump links.

Best regards,

Sen Wang

在 2022-10-16 20:54:46，"Anton Korobeynikov" ***@***.***> 写道：

Jump links are not included into layout as they could "glue" all the nodes together (they often represent distant links and therefore cannot "guide" the genome).

We might make this behaviour as optiona

[2022-10-16 13:20] asl commented on #120
The current version perfectly handles jump links. The decision not to introduce them into layout was made deliberately as these links in general do not provide the proper genomic order and could screw the proper layout otherwise.

[2022-10-16 13:50] kingforest93 commented on #120
Oh, I see. I make a mistake in understanding the design of Jump connections. That is to say, Jump connections should provide correct orders and orientations of contigs just like the Links do.
Actually, I'm using GFA Jump to help me view the scaffolding process with Hi-C contact data. This may be already out of the scope of Jump connections in GFA format.

Thank you so much for the patient response

[2022-10-16 14:22] asl commented on #120
Well, in your particular case you could easily have the following:

[code]

Note that the order it correct (genomic), however if you'd add normal links here as well you could easily "glue" everything together. This is why jump links do change the segment layout. It is supposed that you do this by hands.

[2022-10-16 14:37] kingforest93 commented on #120
Thanks for your suggestion! I'll give it a try.

Best regards,

Sen Wang

在 2022-10-16 22:22:35，"Anton Korobeynikov" ***@***.***> 写道：

Well, in your particular case you could easily have the following:

J  A  + B +
J  A  + C +
J  B  + C +

Note that the order it correct (genomic), however if you'd add normal links here as well you could easily "glue" everything together. This is why jump links do

[2022-10-17 06:14] RolandFaure commented on #119
It's the output from [GraphUnzip](https://github.com/nadegeguiglielmoni/GraphUnzip), which is a tool I develop. I will make sure there are no more formatting errors :grin:
Thank you very much!

[2022-10-17 06:14] #119 closed

[2022-10-17 08:51] asl commented on #119
I would suggest you to follow GFA spec: https://github.com/GFA-spec/GFA-spec/blob/master/GFA1.md Bandage-NG parser follows spec quite strictly as otherwise it is impossible to implement fast streaming GFA parser.

[2022-10-18 19:13] rlorigro commented on #116
just another bi-monthly check in on this..

[2022-10-18 19:23] asl commented on #116
@rlorigro I wanted to also make windows snapshots for 2022.10 release... but probably I'd just make a snapshot soon ;)

[2022-10-24 10:24] asl commented on #116
@rlorigro Here we go: https://github.com/asl/BandageNG/releases/tag/v2022.09

[2022-11-03 22:30] rlorigro opened #121 "Perpetual loading bar on small GFA"
Hi,

This GFA fails to load in BandageNG, but loads within seconds in original Bandage:
https://rlorigro-public-files.s3.us-west-1.amazonaws.com/gfase/paolo_ul_guppy6_run14/test_subset/run14_uul_test_subset.gfa

It contains 1436 nodes, totaling 263Mbp

Thanks

[2022-11-03 22:42] asl commented on #121
Sadly we do not have a good way to report GFA format errors. In your case you're having invalid GFA tags, e.g.:

[code]

Note that `z` is a not a valid tag type (see https://github.com/GFA-spec/GFA-spec/blob/master/GFA1.md#optional-fields for more information)

[2022-11-03 22:42] #121 closed

[2022-11-03 22:47] rlorigro commented on #121
OK. Just to clarify, I think the original bandage created this tag during the `save visible graph to GFA` operation. It probably cached the colors from a CSV I loaded

[2022-11-03 22:51] rlorigro commented on #121
Does it make sense to make this backwards compatible to the extent that it does not crash during loading? Even if it ignores the tag

[2022-11-03 22:57] asl commented on #121
Well, in the reality the invalid lines are dropped. It's the error reporting that takes time as it tries to print all these long segment lines with error location, etc. to stdout.

[2022-11-06 23:57] rlorigro opened #122 "Incorrect data loaded from CSV file"
The same GFA and CSV produce different results in OG vs NG Bandage:

Bandage NG
![image](https://user-images.githubusercontent.com/28764332/200202323-b8dd88ce-1d19-4e26-932a-89829e6a3f3e.png)

Original Bandage
![image](https://user-images.githubusercontent.com/28764332/200202347-770d9343-aebb-4f70-9214-360e096138f6.png)

CSV:
https://rlorigro-public-files.s3.us-west-1.amazonaws.com/gfase/test_gfa/

[2022-11-07 00:32] asl commented on #122
Ok, this is an outcome how we're matching path names in CSV. Path names are matched by prefix, so in your particular case node name `t` matched against paths `tip.0` and `tip.1`. I do not recall why we matched paths before nodes. Current workaround is to rename / remove paths.

I will revise the logic here.

[2022-11-07 00:40] asl commented on #122
Ah, yes, I remember why we're checking paths first. Unfortunately, when exporting to FASTA Bandage exports node names in the format like `NODE_6+_length_50434_cov_42.3615` which obviously clashes with the standard naming of paths in e.g. SPAdes assembly graphs.

While querying for node name it transforms `NODE_6+_length_50434_cov_42.3615` into just `6+`. This logic obviously could transform path n

[2022-11-07 01:20] #122 closed